.imageArtistsList {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.artistListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-right: 2%;
  margin-bottom: 3rem; }
  .artistListItem:nth-last-of-type(4) {
    margin-right: 0; }

.imageArtists {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-bottom: 1rem; }

.artistsText {
  font-weight: 600; }

.artistsName {
  font-style: italic;
  color: #4b4f56; }

.artistsPopularity {
  color: #90949c; }

.title {
  font-size: 5rem;
  font-weight: 600;
  color: #0000008a;
  text-shadow: 5px 0px 4px #887b7b;
  margin: 2rem 0 0 1rem; }

.line {
  margin-bottom: 3rem; }

.link {
  text-decoration: none;
  color: #000000de; }
  .link:hover {
    text-decoration: underline; }
