@import '../../css/Colors.scss';

.link {
  text-decoration: none;
  color: $color-light-black;
  &:hover {
    text-decoration: underline;
  }
}

.artistDetailHeader {
  display: flex;
  flex-direction: row;
  margin: 6rem 3rem 3rem 3rem;
}

.image {
  border-radius: 50%;
  margin-right: 2rem;
  box-shadow: $shadow-dark-gray;
}

.info {
  align-self: center;
}

.name {
  font-size: 6rem;
  font-weight: 600;
  color: $color-light2-black;
  text-shadow: $shadow-dark-gray;
  line-height: normal;
  padding-bottom: 1rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 600;
  color: $color-light-gray;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
  &_albums {
    margin: 2rem 1rem 0;
  }
}

.tableImage {
  padding-top: 0.2rem;
}

.icons {
  cursor: pointer;
}

.albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 1rem 2rem 1rem;
  justify-content: space-between;
  align-content: flex-start;
}

.albumText {
  color: $color-light-gray;
  margin: 1rem 0 0 1rem;
}

.albumItem {
  width: 24%;
  margin-top: 2rem;
}

.albumItemText {
  color: $color-dark-gray;
  &_title {
    font-weight: 600;
  }
}

.albumItemImage {
  width: 100%;
  margin-bottom: 0.5rem;
}
