.wrapper {
  margin: 5rem 2rem 2rem 2rem; }

.contentOfPage {
  display: flex;
  flex-direction: row;
  margin-top: 2rem; }

.titleOfPage {
  font-size: 1.5rem;
  font-weight: 600; }

.nameOfPage {
  align-self: center;
  margin-left: 4rem;
  font-size: 6rem;
  font-weight: 600; }
  .nameOfPage_color {
    color: #0000008a;
    text-shadow: 5px 0px 4px #887b7b; }

.title {
  margin-top: 2rem;
  color: #90949c;
  font-size: 1.5rem;
  font-weight: 600; }

.link {
  text-decoration: none;
  color: #000000de; }
  .link:hover {
    text-decoration: underline; }
  .link_shadow:hover {
    color: #0000008a;
    text-shadow: 5px 0px 4px #887b7b; }

.itemsSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start; }

.itemSearch {
  width: 10%;
  margin: 1rem 0.3rem 0 0.3rem; }

.searchImg {
  width: 100%; }
  .searchImg_imgOfPage {
    border-radius: 50%;
    box-shadow: 5px 0px 4px #887b7b; }

.text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #4b4f56; }
  .text_name {
    font-weight: normal;
    color: #4b4f56; }
