@import '../../css/Colors.scss';

.wrapper {
  margin: 2rem;
}

.contentOfPage {
  display: flex;
  flex-direction: row;
}

.titleOfPage {
  font-size: 5rem;
  font-weight: 600;
  color: $color-light2-black;
  text-shadow: $shadow-dark-gray;
  margin-top: 2rem;
}

.nameOfPage {
  align-self: center;
  margin-left: 4rem;
  font-size: 6rem;
  font-weight: 600;
  color: $color-light2-black;
  text-shadow: 5px 0px 4px #887b7b;
}

.title {
  margin-top: 5rem;
  color: $color-light-gray;
  font-size: 1.5rem;
  font-weight: 600;
  &_second {
    margin-top: 2rem;
  }
}

.link {
  text-decoration: none;
  color: $color-light-black;
  &:hover {
    text-decoration: underline;
  }
}

.itemsSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.itemSearch {
  width: 10%;
  margin: 1rem 0.3rem 0 0.3rem;
}
.searchImg {
  width: 100%;
  &_imgOfPage {
    border-radius: 50%;
    box-shadow: $shadow-dark-gray;
  }
}

.text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: $color-dark-gray;
  &_name {
    font-weight: normal;
    color: $color-dark-gray;
  }
}
