.wrapper {
  margin: 2rem; }

.title {
  margin-top: 5rem;
  color: #90949c;
  font-size: 1.5rem; }
  .title_second {
    margin-top: 2rem; }

.link {
  text-decoration: none;
  color: #000000de; }
  .link:hover {
    text-decoration: underline; }

.itemsSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start; }

.itemSearch {
  width: 10%;
  margin: 1rem 0.3rem 0 0.3rem; }

.searchImg {
  width: 100%; }

.text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #4b4f56; }
  .text_name {
    font-weight: normal;
    color: #4b4f56; }
