//style is App.scss, but it is not working
.icons {
  cursor: pointer;
}

.playlist_table {
  clear: both;
}

.playlist_image {
  margin: 2rem;
  border: white;
  float: left;
}

.playlist_created {
  margin-top: 2rem;
  float: left;
}
