//colors
$color-dark-gray: #4b4f56;
$color-light-gray: #90949c;
$color-light2-gray: #686868;
$color-light-black: #000000de;
$color-light2-black: #0000008a;

//shadows
$shadow-dark-gray: 5px 0px 4px rgb(136, 123, 123);
