@import '../../css/Colors.scss';

.albumDetail {
  display: flex;
  flex-direction: row;
  margin: 3rem;
}

.albumDetailImage {
  margin-right: 2rem;
}

.albumDetailText {
  color: $color-light-gray;
  &_infoSentence {
    text-transform: uppercase;
  }
}

.albumDetailTitle {
  font-size: 5rem;
  font-weight: 600;
  color: $color-light2-black;
  text-shadow: $shadow-dark-gray;
  line-height: normal;
  padding: 1rem 0;
}

.albumDetailArtist {
  text-decoration: none;
  color: $color-dark-gray;
  :hover {
    text-decoration: underline;
  }
}
